#!/usr/bin/env bash

alias php='docker run --rm -ti -v $(pwd):/opt/project -u 1000 coajaxial/php-env php';
alias psalm='docker run --rm -ti -v $(pwd):/opt/project -u 1000 coajaxial/php-env vendor/bin/psalm';
alias composer='docker run --rm -ti -v $(pwd):/opt/project -u 1000 coajaxial/php-env composer';
alias phpunit='docker run --rm -ti -v $(pwd):/opt/project -u 1000 coajaxial/php-env php -d zend.assertions=1 vendor/bin/phpunit';
alias npm='docker run --rm -ti -v $(pwd):/opt/project -u 1000 coajaxial/php-env npm';
alias docsify='docker run -p 3000:3000 --rm -ti -v $(pwd):/opt/project -u 1000 coajaxial/php-env docsify';
